footer{
    text-align: center;
    position: static;
    background-color: aqua;
    display: block;
}

.subjudul{
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
